@model IEnumerable<Shopping.Service.Queries.OrderQuery>

    @{
        ViewData["Title"] = "MyOrders";
    }

    <table>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.OrderCode</td>
            <td>@item.OrderDate</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>

        </tr>
        }
    </table>

