@model Shopping.Model.Entities.Address

@{
    ViewData["Title"] = "Checkout";
}

<!-- MAIN -->
<main class="site-main checkout">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><a href="#">Home </a></li>
            <li class="active"><a href="#">checkout</a></li>
        </ol>
    </div>
    <div class="container">


        <form asp-action="Checkout" asp-controller="Shop" class="checkout" method="post" name="checkout">
            <h4 class="title-checkout">Fatura Adresi</h4>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="title">Adınız*</label>
                    <input asp-for="FirstName" class="form-control" placeholder="Adınız" />
                </div>

                <div class="form-group col-md-6">
                    <label class="title">Soyadınız*</label>
                    <input asp-for="LastName" class="form-control" placeholder="Soyadınız" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="title">E-posta Adresi:</label>
                    <input asp-for="Email" class="form-control" placeholder="E-Posta" />
                </div>
                <div class="form-group col-md-6">
                    <label class="title">Telefon Numarası*</label>
                    <input asp-for="Phone" class="form-control" placeholder="Lütfen 10 hane olarak giriniz" />
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label class="title">Adres:</label>
                    <input asp-for="AddressDescription" class="form-control" placeholder="Adresiniz" />
                </div>
                <div class="form-group col-md-6">
                    <label class="title">Ülke*</label>
                    <select asp-for="CountryId" asp-items="@ViewBag.Countries" name="CountryId" class="form-control"></select>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label class="title">Posta Kodu:</label>
                    <input asp-for="PostalCode" class="form-control" placeholder="Posta Kodunuz" />
                </div>
                <div class="form-group col-md-6">
                    <label class="title">Şehir*</label>
                    <select asp-for="CityId" asp-items="@ViewBag.Cities" name="CityId" class="form-control"></select>
                </div>
            </div>


            <div class="row">
                <div class="form-group shipping col-md-6">
                    <br />
                    <h4 class="title-checkout">Gönderim Tipi</h4>
                    <p>Flat Rate</p>
                    <p>Fixed $50.00</p>
                    <h4 class="discount">İndirim Kuponu</h4>
                    <label class="title">Kupon Kodunuzu Giriniz:</label>
                    <input type="text" class="form-control">
                    <button type="submit" class="btn-apply">Kaydet</button>
                </div>

                <div class="form-group payment col-md-6">
                    <h4 class="title-checkout">Ödeme Tipi</h4>
                    <ul>
                        <li><label class="inline"><input type="radio" name="paymentType"><span class="input"></span>Havale/Eft</label></li>
                        <li><label class="inline"><input type="radio" name="paymentType"><span class="input"></span>Kapıda Ödeme</label></li>
                    </ul>
                    <span class="grand-total">Toplam Tutar<span>$100.00</span></span>
                    <button type="submit" class="btn-order" formaction="Checkout">Siparişi Ver</button>
                </div>
            </div>

        </form>


    </div>
</main><!-- end MAIN -->

<script>
       $(document).ready(function () {
            // ülke değiştiğinde..
            $("#CountryId").change(function () {
                LoadCities();
            });
            $("#CityId").change(function () {
                LoadDistricts();
            });
            function LoadCities() {
                // seçili ülkenin şehirleri getir
                $.post("@Url.Action("GetCities")", { countryId: $("#CountryId").val() },
                    function (data) {
                        // gelen şehirleri selecte aktar
                        // önce şehir selectini temizle
                        $("#CityId").empty();
                        $("#CityId").append('<option value="">Şehir seçiniz</option>');
                        // döngüyle gelen şehir datasına şehir selectine ekle
                        $.each(data, function (index, value) {
                            $("#CityId").append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                        LoadDistricts();
                });
            }
            function LoadDistricts() {
                $.post("@Url.Action("GetDistricts")", { cityId: $("#CityId").val() },
                    function (data) {
                        // önce ilçe selectini temizle
                        $("#DistrictId").empty();
                        $("#DistrictId").append('<option value="">İlçe seçiniz</option>');
                        // döngüyle gelen ilçe datasına ilçe selectine ekle
                        $.each(data, function (index, value) {
                            $("#DistrictId").append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                    });
            }
       });
</script>
