
@{
    ViewData["Title"] = "Stores";
}

<h2>Stores</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="" />
            <p>a</p>
        </div>
        <div class="col-md-9">
            <p>
                A'dan Z'ye Mağaza Listesi
                Farklı kategorilerden binlerce mağaza, ürünlerini n11.com’da satıyor.
                İstediğiniz mağazaya kolayca ulaşmak için arama yapabilir veya listeye göz atabilirsiniz.
            </p>
            <div class="col-md-3">
                Mağaza açmak ve
                ürün listelemek ücretsiz
            </div>
            <div class="col-md-3">
                Ücretsiz ürün fotoğraf
                çekimleri ve satış eğitimleri
            </div>
            <div class="col-md-3">
                Çağrı Merkezi ile
                7/24 kesintisiz destek
            </div>
        </div>
    </div>
</div>

