
@{
    ViewData["Title"] = "Stores";
}

<h2>Stores</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="" />
            <p>a</p>
        </div>
        <div class="col-md-9">
            <div class="col-md-3">
                <p>
                    A'dan Z'ye Mağaza Listesi
                    Farklı kategorilerden binlerce mağaza, ürünlerini n11.com’da satıyor.
                    İstediğiniz mağazaya kolayca ulaşmak için arama yapabilir veya listeye göz atabilirsiniz.
                </p>
            </div>
            <div class="col-md-3">
                <p>a</p>
            </div>
            <div class="col-md-3">
                <p>a</p>
            </div>
        </div>
    </div>
</div>

