@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Parola Sıfırlama Onay Sayfası";
}

<h1>@ViewData["Title"]</h1>
<p>
    Lütfen şifrenizi sıfırlamak için e-postanızı kontrol edin.
</p>

